.ytp-watermark {
 display: none !important;
  visibility: hidden !important;
}

.html5-video-player .ytp-watermark {
 display: none !important;
  visibility: hidden !important;
}

.ytp-chrome-top .ytp-share-button-visible
{
  display: none !important;
  visibility: hidden !important;
}
